* {
  box-sizing: border-box;
}

/* GRID AND CELLS */
.grid {
  display: flex;
  height: 600px;
  width: 600px;
  flex-wrap: wrap;
  font-size : 14px;
}

.cell {
  border: 2px solid rgb(196, 174, 162);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(217, 193, 179);
}

.cell2 {
  background-color: rgb(208, 185, 171);
}

.top-row {
  background-color: rgb(182, 145, 120);
  border-left: none;
  border-right: none;
  border-bottom: solid 2px rgb(116, 91, 77);
  
}

.section1 {
  /* background-image: url("./images/background1.png"); */
}


/* INGREDIENTS */
.ingredient1 {
  background-image: url('./images/fish.png');
}

.ingredient2 {
  background-image: url('./images/rice.png');
}


/* PASS */ 
.the-pass {
  background-image: url('./images/pass.png');
}

.pass-plate {
  background-image: url('./images/plate-fish-rice.png');
}



/* PLAYER */
.player {
  background-image: url('./images/chef.png');
}

.chef-fish {
  background-image: url('./images/chef-fish.png');
}

.chef-rice {
  background-image: url('./images/chef-rice.png');
}

.chef-plate {
  background-image: url('./images/chef-plate.png');
}



/* PLATE */
.plate {
  background-image: url('./images/plate.png');
}

.plate-fish {
  background-image: url('./images/plate-fish.png');
}

.plate-rice {
  background-image: url('./images/plate-rice.png');
}

.plate-fish-rice {
  background-image: url('./images/plate-fish-rice.png');
}



/* MODALS */
.hidden {
  visibility: hidden;
}

.modal-text {
  background-color: aqua;
}