* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  height: 600px;
  width: 600px;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid rgb(91, 91, 91);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ingredient1 {
  background-image: url('./images/fish.png');
}

.ingredient2 {
  background-image: url('./images/rice.png');
}

.the-pass {
  background-image: url('./images/pass.png');
}

.player {
  background-image: url('./images/chef.png');
}

.chef-fish {
  background-image: url('./images/chef-fish.png');
}

.chef-rice {
  background-image: url('./images/chef-rice.png');
}

.plate {
  background-image: url('./images/plate.png');
}

.top-row {
  background-color: rgb(204, 204, 204);
}